* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #1d3557;
  padding: 40px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  width: auto;
  margin: 0 40px;
  text-align: center;
}

.menu-bar .name {
  flex: 1;
  text-align: left;
  font-size: 3em;
  color: #a8dadc;
}

nav ul li a {
  color: white;
}

nav ul li a:link {
  text-decoration: none;
  font-size: 2em;
}

nav ul li a:hover {
  color: #e63946;
}

div {
  margin: 2em;
  padding: 1em;
}

div h1,
h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 15px 0px;
}

.problem h1 {
  font-weight: 600;
}

div p {
  line-height: 2.5;
  font-size: 20px;
  text-indent: 40px;
}

.contact-us {
  align-content: center;
  text-align: center;
}

.contact-us h3 {
  padding: 10px 0;
  font-weight: 400;
  font-size: 1.5em;
}

@media all and (max-width: 700px) {
  nav {
    padding: 15px 30px;
  }
  nav ul li {
    width: 100%;
    padding: 10px;
  }
  nav .menu-bar .name {
    text-align: center;
    padding: 20px;
  }

  div p {
    text-indent: 25px;
  }
}
